TOPOLOGY MESH
NUM_ROWS 4
NUM_COLS 4
RT_ALGO DyBM
TR_TYPE RANDOM
IAT_TYPE AA
CONGESTION_LEVEL 0
CONGESTION_PRIORITY 3
CONGESTION_AFFECT_VC 1
CONGESTION_USE 0
HOP_LEVEL 6
HOP_USE 0
WRITE_THROUGH_OUTPORT 1
DIRNAME test
LOG 0
MATLAB_MAKE_IMAGES 0
WARMUP 10
SIM_NUM 50
TG_NUM 10
NUM_BUFS 5
FLITSIZE 4
HEAD_PAYLOAD 1
DATA_PAYLOAD 3
CLK_FREQ 1
ADDITIONAL_INFO 1
